<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--        Cái này để tránh null khi get ( Chat GPT nói vậy ) -->
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.chez1s.QuanLyKhoNhot.entity.Product" alias="Product"/>
        <typeAlias type="com.chez1s.QuanLyKhoNhot.entity.Brand" alias="Brand"/>
    </typeAliases>

</configuration>
